In [3]:
#pip install ipywidgets
from tqdm.notebook import tqdm_notebook
import numpy as np
import pandas as pd
tqdm_notebook.pandas()
df = pd.DataFrame(np.random.randint(0, 100, (100000, 1000)))
df.progress_apply(lambda x: x**2)

  0%|          | 0/1000 [00:00<?, ?it/s]

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,289,5625,144,64,784,5476,2209,64,7569,441,...,1444,5776,3364,7744,5329,49,841,5625,8281,6724
1,1600,841,9409,961,8649,7921,3364,6561,9216,6400,...,144,2500,8836,3136,4761,324,8464,49,8100,4489
2,7921,81,3969,6400,961,625,324,3136,5041,5929,...,2916,2601,1156,2601,729,7744,2809,8464,1089,6084
3,5929,784,2209,1296,400,4225,7744,1,361,256,...,225,7569,9025,1089,8464,5625,7744,625,484,1369
4,5476,1369,49,1089,1600,2025,1,289,7744,36,...,8649,7225,8281,3600,8281,1296,400,144,1024,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3249,2209,1156,1521,3025,441,1521,1521,4761,1369,...,8464,9801,2500,121,4356,3249,2809,3249,5776,2209
99996,121,3481,1296,3600,5476,2116,8464,2025,81,4761,...,5625,9,4489,1681,4356,1369,961,1156,9216,7396
99997,7056,1444,8281,3025,784,3481,2025,9216,3600,3969,...,3249,0,1,1225,36,400,100,441,2401,9801
99998,4761,1521,900,9025,9,100,324,3025,225,6084,...,7396,2304,3844,3136,2704,2601,1444,3025,5929,9409
99999,5184,196,324,25,6084,1764,2809,144,1296,8100,...,1936,8464,144,1764,676,6084,441,144,7396,1681

In [7]:
99%1000

99