In [2]:
#pip install ipywidgets
from tqdm.notebook import tqdm_notebook
import numpy as np
import pandas as pd
tqdm_notebook.pandas()
df = pd.DataFrame(np.random.randint(0, 100, (100000, 1000)))
df.progress_apply(lambda x: x**2)

  0%|          | 0/1000 [00:00<?, ?it/s]

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,4096,2809,2209,5329,1369,4225,121,3844,0,784,...,7921,576,9,1764,5776,1600,8649,900,4761,1936
1,5329,289,9604,441,1225,6241,64,9025,1600,529,...,484,7056,225,529,4489,1225,2401,1156,3844,4624
2,900,2809,4761,361,289,1600,8649,2809,1444,361,...,961,2401,16,49,36,625,1156,6561,3844,1369
3,225,529,7744,1681,7569,4096,144,1024,5184,6724,...,3844,7744,2601,2209,8100,6400,9604,7569,2401,36
4,169,256,2809,3249,9216,484,1444,2916,3364,1600,...,5329,1156,6241,3136,3844,7396,1296,841,324,1849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2500,676,9216,7569,25,64,324,7225,324,7056,...,1,9025,9409,289,2209,7396,3249,2601,2500,324
99996,784,196,6084,400,676,2209,169,6561,4624,8836,...,784,7056,576,25,576,81,1369,3364,4225,841
99997,7056,1444,7056,196,900,1,1764,225,8836,324,...,36,729,6241,2916,169,6724,1444,2304,5625,8100
99998,196,3844,8649,625,25,676,6400,529,1764,2209,...,7744,0,3025,400,9801,1764,49,9604,5184,16
99999,1600,2209,1,144,9801,3136,2601,256,5776,4,...,484,6241,3364,5041,2025,121,1444,36,7225,3481